.row{
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.column{
  display: inline;
}
#add-entry-button {
  position: relative;
  top: 10rem;
  padding: 10px 40px;
  background-color: #95BCF2;
  box-shadow: 2px 5px 5px black;
}
.text{
  font-family: 'Balsamiq Sans', cursive, sans-serif;
}

.hidden {
  display: none;
}

.dimmed {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  border: none;
  background-color: white;
  padding: 20px 50px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.col-button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#submit-modal-button {
  padding: 5px 15px;
  border: solid black;
  box-shadow: 5px 3px 5px black;
}

.sel-border {
  border: black solid;
}

.modal {
  position: absolute;
  top: 100px;
  right: 15%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.7);
}

.column-seventh {
  display: inline;
}

.row-days {
  display: flex;
  justify-content: space-evenly;
}

.planner-button {
  width: 90px;
  height: 90px;
}

#add-entry {
  padding: 10px 40px;
  background-color: #95BCF2;
  box-shadow: 2px 5px 5px black;
}

.col-time {
  width: calc(100%/6);
  border: solid black;
}

.col-description {
  width: calc(100%/3);
  border: solid black;
}

table{
  width: 100%;
  text-align: left;
}

th {
  background-color: #cccccc;

}

tr:nth-child(odd){
background-color: #eeeeee;
}
